body{
  margin:0;
  background:#111;
  color:white;
  font-family:monospace;
  overflow:hidden;
}

#ui{
  position:fixed;
  top:10px;
  left:10px;
  z-index:10;
}

#game{
  image-rendering: pixelated;
  display:block;
  margin:auto;
  background:black;
}

#minimap{
  position:fixed;
  right:10px;
  top:10px;
  border:2px solid white;
  background:black;
}
