body{
margin:0;
background:#111;
color:white;
font-family:monospace;
overflow:hidden;
}

canvas{
display:block;
margin:auto;
image-rendering:pixelated;
}

.panel{
position:fixed;
top:80px;
left:20px;
background:black;
border:2px solid white;
padding:10px;
width:200px;
}

.hidden{display:none}

