body{
margin:0;
background:#000;
font-family:monospace;
color:white;
overflow:hidden;
}

#game{
position:absolute;
left:0;
top:0;
image-rendering:pixelated;
}

#minimap{
position:absolute;
right:10px;
top:10px;
border:2px solid white;
background:black;
}

#stats{
position:absolute;
left:10px;
top:10px;
background:rgba(0,0,0,.6);
padding:10px;
}

