body {
  background:#0a0a0a;
  color:#eaeaea;
  font-family: monospace;
  text-align:center;
}

canvas {
  border:4px solid #555;
  image-rendering: pixelated;
  background:black;
}

#hud {
  margin-top:10px;
}

#stats {
  margin-bottom:6px;
}

button {
  background:#222;
  color:#fff;
  border:1px solid #555;
  margin:2px;
}
